<!DOCTYPE html>

<html lang="ru">
<link href="/static/style.css" rel="stylesheet"/>
<head>
<title>Компоненты 409</title>
<link href="logo/lars_slider_1.ico" rel="shortcut icon" type="image/x-icon"/>
</head>  
<body>
<header>
<nav>
<h1>Добро пожаловать в систему контроля и учета компонентов!</h1>
</nav>
</header>
<main>
<article>
<p>Поиск компонентов по имени:
          <form action="http://127.0.0.1:5000/search/" method="action">
<input autofocus="autofocus" name="comp" placeholder="Поиск по имени" type="search"/>
<input type="submit" value="Поиск">
<!-- <button onclick="window.location='http://127.0.0.1:5000/OK'">Поиск</button>-->
</input></form>
</p></article>
<aside>
<table border="2">
<caption>ТАБЛИЦА КОМПОНЕНТОВ</caption><tr><th>ТИП</th><th>НАИМЕНОВАНИЕ</th><th>КОРПУС</th><th>КОЛИЧЕСТВО</th><th
>Действия</th
></tr><tr><inputData0><td>МК</td><td>STM32F103C8T6</td><td>lqfp-48</td><td>8</td><td
><button>Внести</button><button>Списать</button></td
><tr><inputData1><td>МК</td><td>STM32F042F6P6</td><td>TSSOP-20</td><td>11</td><td
><button>Внести</button><button>Списать</button></td
><tr><inputData2><td>МК</td><td>STM32F103T8U6</td><td>VFQFPN-36</td><td>9</td><td
><button>Внести</button><button>Списать</button></td
><tr><inputData3><td>МК</td><td>STM32F405RGT6</td><td>LQFP-64</td><td>3</td><td
><button>Внести</button><button>Списать</button></td
></inputData3></tr></inputData2></tr></inputData1></tr></inputData0></tr></table>
</aside></main></body>


<footer>
</footer>

</html>